snippet pr "Teikametrics PR template" !b
## Why?

[DEVOPS-${1:1234}](https://teikametrics.atlassian.net/browse/DEVOPS-$1)

## This PR

```text
```<details><summary>Terraform plan (${2:ENVIRONMENT})</summary>
<p>
${3:backtick}terraform
-----------------------------------------------------------------------
${4: Paste terraform plan here from your clipboard}
-----------------------------------------------------------------------
$3
</p>
</details>
```
```
endsnippet
