snippet pr "Teikametrics PR template" !b
## Why?
---

[DEVOPS-${1:1234}](https://teikametrics.atlassian.net/browse/DEVOPS-${1})

## This PR
---

<!--
<details><summary>Terraform plan (${2:ENVIRONMENT})</summary>
<p>

```terraform
------------------------------------------------------------------------
------------------------------------------------------------------------
```

</p>
</details>
-->

endsnippet
