snippet common_tags
	locals {
		common_tags = {
			terraform_managed = true
			environment       = "${1:dev}"
			cost_account      = "$1"
		}
	}

endsnippet

snippet terraform
	provider "terraform" {
		
	}
endsnippet
snippet r_terraform_remote_state
	resource "terraform_remote_state" "${1}" {
		backend = "${2}"
	}
endsnippet
snippet d_terraform_remote_state
	data "terraform_remote_state" "${1}" {
		backend = "${2}"
	}
endsnippet
